.message-field {
   display: flex;
   flex-direction: column;
   background-color: #74b1a7;
   height: 50%;
   width: 100%;
   padding: 20px;
   overflow-y: scroll;
   margin: 0px 540px 16px 0px;
}

.layout {
   height: 100%;
   width: 50%;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.message {
   background-color: rgb(217, 173, 230);
   padding: 5px 15px;
   border-radius: 35px;
   font-size: 20px;
   margin: 5px;
}

.message-sender {
   color: rgb(128, 128, 128);
   font-size: 14px;
}

element.style {
   color: rgba(0, 0, 0, 0.87);
   background-color: rgb(52, 88, 102);
   transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
   box-sizing: border-box;
   font-family: Roboto, sans-serif;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 30px, rgba(0, 0, 0, 0.23) 0px 6px 10px;
   border-radius: 2px;
   display: inline-block;
   float: left;
   margin: 0px 32px 69px 0px;
   width: 349px;
}

#root > div > header {
   color: rgba(0, 0, 0, 0.87);
   background-color: rgb(128, 43, 185);
   height: 100px;
   width: 100%;
   margin: auto;
   display: flex;
   justify-content: center;

}